body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;

  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.breed-select {
  width: 260px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.breed-select:focus {
  background-color: #d3d3d3;
}
.hidden {
  display: none;
}

.cat-info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.cat-info img {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.cat-info-item {
  padding: 30px;
  width: 50%;
}

.cat-details {
  max-width: 400px;
}

.cat-details h2 {
  font-size: 24px;
  margin: 0 0 10px;
  color: #333;
}

.cat-details p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 10px;
}

.loader {
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 20px;
}

.hidden {
  display: none;
}
